
       #head_title{
         height: 250px;
         background-color: aquamarine;
        }
        
        #head_title h1{
          text-align: center;
        }
        
        #head_title table{
          margin: auto;
          width: 99%;
        } 
        
        #border_title{
          background-color: blueviolet; 
          display: grid;
          grid-template-columns: 250px 1fr;
        }
        
        #border_list{
          height: 800px;
          float: left;
          background-color:bisque;
        }

        #border_list span{
          margin-left: 20px;
          font-size: 24px; color: red; text-decoration: underline;
          background-color: bisque;
        }
        
        #border_list p{
          font-size: 36px;
        }
        
        
        #login{
          height: 100px;
          background-color: chartreuse;
          
        }
        
        #login table{
          width: auto;
          box-sizing: border-box;
        }
        
        
        #border_view{
          width: 83%;
          height: 800px;
          background-color: cornflowerblue;
          float: right;
          margin: 5px;
        }
        
        
        #main_titlebod table {
            border: 1px solid black;
            text-align: center;
            transform: translateY(150px) translateX(45%);
        }
        
        #main_titlebod table th{
          background-color: azure;
          border: 1px solid black;
          color: black;
        }

        #main_titlebod table td{
          border: 1px solid black;
          font-size: 16px;
        }
        
        #main_titlebod table td button{
            background-color: aqua;
            width: 100px;
        }

        #middleth{
            width: 400px;
        }

        #printnumbers{
            color: blue;
            background-color: yellow;
        }
          
        table{
          table-layout:fixed; word-break:break-all;
        }
        
       