#head_css {
    width: 100%;
    height: 40px;
    background-color: chartreuse;
    text-align: center;
    padding-top: 0.3cm;
    font-size: 24px;
}
table td {
    color: crimson; 
    font-size: 14px; 
    
}